html{
    background-image: url('../../Images/background_design_8.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}

header {
    position: static;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    background-color: white;
}

.personal-photo{
    height: 100%;
    width: 100%;
}

.element-container-null {
    padding: 20px;
    display: flex;
    min-height: 100px;
}

.container-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
}

.element-container-id {
    border: 4px solid #000000;
    border-radius: 50%;
    box-shadow: 0px 6px 8px rgba(11, 12, 14, 0.662);
    padding: auto;
    display: flex;
    height: 75%;
    width: 75%;
    max-height: 300px;
    max-width: 300px;
    background-image: linear-gradient(to right, #9eeaf6 0%, #fbfbfb 50%, #f8f6fa 100%);
    overflow: auto;
    overflow-x: hidden;
    margin: auto;
}

.element-container-info {
    border: 3px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgb(18, 22, 22);
    display: flex;
    min-height: 100%;
    width: 75%;
    max-width: 300px;
    margin: auto;
    padding: 5px;
    background-color: white;

}



.element-container {
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(15, 27, 139);
    padding: 20px;
    display: flex;
    min-height: 200px;
    min-width: 100%;
    background-color: white;
}

.element-container-bottom {
    background-color: rgb(255, 255, 255);
    border: 3px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    display: flex;
    padding: 10px 0;
    max-width: 400px;
    width: 75%;
    height: 75%;
    margin: auto;

}

.row-2{
    background-color: #000000e5;
    height: 200px;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    min-width: 100%;
    justify-content: center;
    padding: 10px;
    margin: auto;
    border:3px solid #050505;
    border-radius: 10px;
}

.row-1, .row-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 500px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    justify-items: center;
}

/* .row-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 500px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    justify-items: center;
} */

.col-4 {
    width: 50%;
    height: 100%;
    float: left;
}

.col-1, .col-2, .col-3 {
    width: 33%;
    /* border: 2px solid #0c0707; */
    min-height: 100%;
    float: left;}

.footer {
    position: static;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(253, 253, 253, 0.596);
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media screen and (min-width:1920px) {
    footer {
        position: static;
        text-align: center;
        bottom: 0;
        background-color: rgba(253, 253, 253, 0.862);
        height: 300px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .element-container-1,
    .element-container-2,
    .container-1,
    .container-2,
    .container-3 {
        margin: auto;
        padding: auto;
    }
    .col-1,.col-2, .col-3{
        padding: auto;
        margin: auto;
    }


}

@media screen and (max-width:950px) {
    
    .container-1,
    .container-2,
    .container-3 {
        margin: auto;
        padding: auto;
        min-width: 100%;
        float: none; /* Remove floating */
    }
    .col-1,.col-2, .col-3, .col-4{
        max-width: 100%;
        align-items: center;

    }

    .element-container-1,
    .element-container,
    .element-container-2{
        max-width: 100%;
        margin: auto;
        padding: auto;
    }

    footer {
        position: static;
        text-align: center;
        background-color: rgba(253, 253, 253, 0.862);
        bottom: 0;
        height: 100px;
        width: 100%;
        padding: 0;
        margin: 0;
    }


}
